.record {
  .title {
    &:hover {
      cursor: pointer;
      color: var(--primary-clr);
    }
  }
  .menu {
    cursor: pointer;
    position: relative;
    .options {
      // width: fit-content;
      padding: 20px 10px;
      border-radius: 5px;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-100%);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      background: var(--heading-clr);
      .option {
        display: flex;
        align-items: center;
        gap: 5px;
        text-transform: capitalize;
        width: 100%;
        padding: 5px 10px;
        border-radius: 2px;
        img {
          height: fit-content;
        }
        p {
          width: max-content;
        }
        &:hover {
          color: #fff;
          background: var(--primary-clr);
        }
      }
    }
  }
}
