.long-text-input {
  display: grid;
  place-items: center;
  gap: 5px;
  width: 100%;
  position: relative;
  .text-input {
    font-family: "Metropolis", sans-serif;
    resize: none;
    width: 100%;
    max-width: 700px;
    height: 100px;
    padding: 15px 20px;
    border: 2px solid #ced0d6;
    color: #fff;
    border-radius: 8px;
    height: 250px;
    background: rgba(40, 58, 91, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    // backdrop-filter: blur(20px);
    // -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid #fff;

    &:focus {
      animation: pop 0.2s ease-in-out;
      // outline: 1px solid #ced0d6;
      outline: 2px solid #fff;
      ~ .placeholderText {
        opacity: 0.35;
        font-size: 1.01rem;
      }
    }
    &.lg {
      max-width: 1000px;
      height: 500px;
    }
  }
  .placeholderText {
    position: absolute;
    pointer-events: none;
    width: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    color: #506690;
    opacity: 1;
    transition: all 0.2s ease-in-out;
  }
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
