.customButton {
  background: var(--secondary-clr);
  padding: 15px 20px;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 50px;
  font-weight: 600;
  img {
    width: 1.2rem;
    height: fit-content;
  }
  &:hover {
    background: #2f8168;
  }
  &.primary {
    background: var(--primary-clr);
    // background: linear-gradient(92.65deg, #4361ee 8.73%, #7209b7 104.76%);
    &:hover {
      background: #547cff;
    }
  }
  &.secondary {
    // background: #fff;
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 30px;
    &:hover {
      background: #fff;
      // color: #2a3842;
      color: var(--primary-clr);
    }
  }
  &.outlined {
    background: transparent;
    color: #2b354f;
    border: 1px solid #2b354f;
    &:hover {
      color: var(--primary-clr);
    }
  }
  &.lg {
    padding: 15px 35px;
    // font-size: 1.2rem;
  }
}
