.customButton {
  background: var(--secondary-clr);
  padding: 15px 20px;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 50px;
  font-weight: 600;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  .loader {
    border: 2px solid #fff;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    animation: spinLoader 0.5s linear infinite;
  }
  img {
    height: 1.2rem;
    width: fit-content;
    // width: 1.2rem;
    // height: fit-content;
  }
  &.isLoading {
    opacity: 0.75;
    cursor: not-allowed;
  }
  &:hover {
    background: #2f8168;
  }
  &.primary {
    background: var(--primary-clr);
    // background: linear-gradient(92.65deg, #4361ee 8.73%, #7209b7 104.76%);
    &:hover {
      background: #547cff;
    }
  }
  &.secondary {
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 30px;
    &:hover {
      background: #fff;
      // color: #2a3842;
      color: var(--primary-clr);
    }
  }
  &.outlined {
    background: transparent;
    color: #2b354f;
    border: 1px solid #404758;
    padding: 15px 30px;
    &:hover {
      color: var(--primary-clr);
      border: 1px solid var(--primary-clr);
    }
  }
  &.lg {
    padding: 15px 35px;
    // font-size: 1.2rem;
  }
  &.gradient {
    padding: 15px 30px;
    background: linear-gradient(91.56deg, #0d3056 2.9%, #202148 99.79%);
    &:hover {
      background: linear-gradient(91.56deg, #202148 2.9%, #0d3056 99.79%);
    }
  }
  &.danger {
    background: #ff3d71;
    &:hover {
      background: #f56e92;
    }
  }
}

@keyframes spinLoader {
  to {
    transform: rotate(360deg);
  }
}
