.checking {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 25px;
  text-align: center;
  margin-top: 50px;
}
.loader {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  border: 2px solid #fff;
  border-bottom-color: transparent;
  border-right-color: transparent;
  animation: spin 1s linear infinite;
}
.loaderContainer {
  margin-top: 50px;
  gap: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.errorMsg {
  text-align: center;
  margin-top: 100px;
  max-width: 500px;
  color: #e63946;
}
.reportPage {
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  .data {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    .textInput {
      font-size: 1.4rem;
      padding: 10px 20px;
      border: none;
      width: 100%;
      max-width: 700px;
      text-align: center;
      background: transparent;
      color: #fff;
      border-radius: 50px;
      &:hover {
        outline: 1px solid #c3c7ca;
      }
      &:focus {
        outline: 1px solid #c3c7ca;
      }
      &::placeholder {
        color: #fff;
      }
    }
    button {
      padding: 15px 30px;
    }
    .text {
      min-width: 300px;
      min-height: 400px;
      max-width: 500px;
      overflow-y: scroll;
      padding: 20px;
      background: #283a5b59;
      box-shadow: 0 8px 32px 0 #1f26875e;
      border-radius: 10px;
      border: 1px solid hsl(0, 0%, 100%);
    }
  }
  table.summary,
  table.report {
    text-align: left;
    td {
      padding-left: 10px;
    }
  }
  .analysis {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 20px;
    .percentage {
      text-align: center;
      font-size: 3rem;
    }
    .head {
      background: var(--text-clr);
      border-radius: 50px;
      display: flex;
      align-items: center;
      padding: 20px;
      width: 100%;
      max-width: 600px;
      justify-content: space-between;
      .menuIconContainer {
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
        .menuIcon {
          height: 30px;
          width: fit-content;
        }
      }
      .left {
        display: flex;
        align-items: center;
        gap: 15px;
      }
      .btn {
        cursor: pointer;
        height: 35px;
        width: fit-content;
      }
      .forward {
        transform: rotate(180deg);
      }
      .menu {
        position: relative;
        .options {
          padding: 20px 10px;
          border-radius: 5px;
          position: absolute;
          top: 0;
          left: 0;
          transform: translateX(-100%);
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 10px;
          background: var(--heading-clr);
          .option {
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 5px;
            text-transform: capitalize;
            width: 100%;
            padding: 5px 10px;
            border-radius: 2px;
            img {
              width: 20px;
              height: fit-content;
            }
            p {
              width: max-content;
            }
            &:hover {
              color: #fff;
              background: var(--primary-clr);
            }
          }
        }
      }
    }
    .report {
      align-self: flex-start;
    }
    .aiInfo {
      width: 100%;
      display: flex;
      gap: 5px;
      line-height: 0.95;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 20px 10px;
      border-radius: 3px;
      background: #f5cac3;
      color: #ef233c;
    }
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@media (min-width: 800px) {
  .reportPage {
    padding: 50px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
}
