.input-container {
  display: grid;
  gap: 5px;
  width: 100%;
  .text-input {
    padding: 15px 20px;
    border: 2px solid #ced0d6;
    color: #545a6e;
    border-radius: 8px;
    &:focus {
      outline: 1px solid #a9a9a9;
    }
    &::placeholder {
      color: #545a6e;
    }
  }
  .errMsg {
    font-weight: 500;
    color: #545a6e;
    letter-spacing: 2px;
    padding-left: 10px;
    font-size: 0.75rem;
  }
}
