.homePage {
  .homeTopSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-height: 100vh;
    background: #010220;

    .content {
      position: relative;
      background: url("/bg-gradient.png");
      background-position: 50% 20%;
      background-size: cover;
      background-repeat: no-repeat;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      width: 100%;
      padding: 30px;
      color: #fff;
      .title {
        padding: 0 50px;
        font-size: 3rem;
        text-align: center;
        font-weight: 700;
        span {
          background-image: linear-gradient(
            120deg,
            #66d4f6,
            #4d92ff 39%,
            #bb65ff
          );
          text-align: center;
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      .subtitle {
        font-size: 1.2rem;
        max-width: 600px;
        text-align: center;
        padding: 20px;
      }
    }
  }
  .heading {
    margin: 50px 0 25px;
    text-align: center;
    font-size: 1.5rem;
  }
  section.getStarted {
    background: var(--heading-clr);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 100px 10px;
    text-align: center;
    margin-top: 20px;
    .title {
      color: #fff;
      padding: 10px 15px;
      font-size: 2.5rem;
      font-weight: 700;
    }
    h4 {
      font-size: 2rem;
      font-weight: 500;
    }
    p {
      max-width: 500px;
    }
    .welcome {
      span {
        background-image: linear-gradient(
          120deg,
          #66d4f6,
          #4d92ff 39%,
          #bb65ff
        );
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  .typesOfPlagiarism {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    // background: #f1f4f8;
    // color: #2b354f;
    .typesHead {
      display: flex;
      gap: 20px;
      text-align: center;
      flex-direction: column;
      align-items: center;
      p {
        max-width: 600px;
      }
    }
    .plagiarismItemContainer {
      margin: 25px 0;
      padding: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      background: #f3f6fc;
      .plagiarismItem {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        h4 {
          font-size: 1.8rem;
        }
        img {
          height: 35px;
          width: fit-content;
        }
      }
    }
  }
  .howItWorks {
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    background: #f3f6fc;
  }
  .processContainer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    .process {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      .details {
        display: flex;
        flex-direction: column;
        gap: 20px;

        p {
          font-size: 1.2rem;
        }
        ol {
          align-self: center;
          text-align: left;
        }
      }
      img {
        width: 100%;
        max-width: 500px;
        border-radius: 5px;
        box-shadow: 0px 2px 20px #a6a6a640;
      }
    }
  }
  .benefitsContainer {
    background: var(--heading-clr);
    color: #fff;
    padding: 50px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    h2 {
      color: #fff;
    }
    .benefit {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 20px;
      max-width: 600px;
    }
    p {
      font-size: 1.2rem;
    }
    .benfitForUsers {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .benefit {
        img {
          width: 50px;
          height: fit-content;
        }
      }
    }
  }

  .faqsSection {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .faq {
      max-width: 800px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}

@keyframes hoverImage {
  // 0% {
  //   transform: translateY(-30%);
  // }
  50% {
    transform: translateY(0%) scale(1.5);
  }
  80% {
    transform: translateY(30%) scale(0.9);
  }
  100% {
    transform: translateY(-30%) scale(1);
  }
}

@media (min-width: 800px) {
  .homePage {
    .homeTopSection {
      .content {
        padding: 50px;
        // height: 600px;
        justify-content: center;
        .title {
          font-size: 4rem;
        }
      }
    }
    .typesOfPlagiarism {
      .plagiarismItemContainer {
        display: grid;
        gap: 50px;
        max-width: 1000px;
        grid-template-columns: repeat(2, 1fr);
        .plagiarismItem {
          align-items: flex-start;
        }
      }
    }
    .processContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px;
      .process {
        flex-direction: row;
        gap: 50px;
        .details {
          max-width: 600px;
        }
        &:nth-child(2n) {
          flex-direction: row-reverse;
        }
      }
    }
    .benefitsContainer {
      align-items: center;
      width: 100%;
      .benefit {
        max-width: 600px;
      }
      .benfitForUsers {
        max-width: 1000px;
        display: grid;
        gap: 50px;
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
