.homePage {
  .homeTopSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-height: 100vh;
    // background: #0f0c29; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #24243e,
      #302b63,
      #0f0c29
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #24243e,
      #302b63,
      #0f0c29
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    // background: url("/bg-dark.png");
    // background: url("/17876754.jpg");
    background-size: cover;
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      // background: #e3e3e3b1;
      width: 100%;
      padding: 30px;
      color: #fff;
      .title {
        padding: 0 50px;
        font-size: 2.5rem;
        text-align: center;
        font-weight: 600;
        max-width: 600px;
      }
      .subtitle {
        font-size: 1.2rem;
        max-width: 600px;
        text-align: center;
        padding: 20px;
      }
    }
  }
  .heading {
    margin: 50px 0 25px;
    text-align: center;
    font-size: 1.5rem;
  }
  section.getStarted {
    background: #2b354f;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 100px 10px;
    text-align: center;
    margin-top: 20px;
    .title {
      display: inline-block;
      border-radius: 50px;
      padding: 10px 15px;
      font-size: 0.7rem;
      background: #506690;
    }
    h4 {
      font-size: 2rem;
      font-weight: 500;
    }
    p {
      max-width: 500px;
    }
  }

  .typesOfPlagiarism {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    background: #f1f4f8;
    color: #2b354f;
    .typesHead {
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        max-width: 600px;
      }
    }
    .plagiarismItemContainer {
      margin: 25px 0;
      padding: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      .plagiarismItem {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        h4 {
          font-size: 1.2rem;
        }
        img {
          height: 35px;
          width: fit-content;
        }
      }
    }
  }
  .howItWorks {
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    // background: #f3f6fc;
    color: var(--background-clr);
  }
  .processContainer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    .process {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      .details {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h3 {
          font-size: 1.8rem;
          font-weight: 600;
          color: #2b354f;
          // color: #fff;
        }
        p {
          font-size: 1.2rem;
          color: #4a5a71;
          // color: #eeeeeec3;
        }
        ol {
          align-self: center;
          text-align: left;
        }
      }
      img {
        width: 100%;
        max-width: 500px;
        border-radius: 5px;
        box-shadow: 0px 2px 20px #a6a6a640;
      }
    }
  }
  .benefitsContainer {
    background: #2b354e;
    color: #fff;
    padding: 50px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    .benefit {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 20px;
      max-width: 600px;
    }
    .benfitForUsers {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .benefit {
        img {
          width: 50px;
          height: fit-content;
        }
      }
    }
  }

  .faqsSection {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .faq {
      max-width: 800px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      .question {
        font-size: 1.2rem;
      }
      .answer {
        line-height: 1.6;
        color: #506690;
      }
    }
  }
}

@media (min-width: 800px) {
  .homePage {
    .homeTopSection {
      .content {
        padding: 50px;
        // height: 600px;
        justify-content: center;
      }
    }
    .typesOfPlagiarism {
      .plagiarismItemContainer {
        display: grid;
        gap: 50px;
        max-width: 1000px;
        grid-template-columns: repeat(2, 1fr);
        .plagiarismItem {
          align-items: flex-start;
        }
      }
    }
    .processContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px;
      .process {
        flex-direction: row;
        gap: 50px;
        .details {
          max-width: 600px;
        }
        &:nth-child(2n) {
          flex-direction: row-reverse;
        }
      }
    }
    .benefitsContainer {
      align-items: center;
      width: 100%;
      .benefit {
        max-width: 600px;
      }
      .benfitForUsers {
        max-width: 1000px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
