.usageHistoryPage {
  color: #fff;

  .head {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 20px;
    h1 {
      font-size: 2rem;
    }
    .credits {
      width: 150px;
      padding: 10px 30px;
      aspect-ratio: 1/1;
      border-radius: 10px;
      border: 1px solid #ffffff1f;
      box-shadow: 2px 2px 10px #00000040;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .container {
        img {
          height: 25px;
          width: fit-content;
        }
        h3 {
          font-size: 1.75rem;
        }
      }
      // align-items: flex-start;
    }
  }
  .table {
    width: 100%;
    overflow-x: scroll;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: normal;
    th {
      position: sticky;
      top: 0;
    }
    th,
    td {
      word-wrap: break-word;
      text-align: start;
      padding: 20px;
      img {
        width: 15px;
      }
    }
    thead {
      th {
        font-size: 12px;
        font-weight: 600;
        color: #fff;
        background: var(--heading-clr);
        &:first-child {
          border-top-left-radius: 10px;
        }
        &:last-child {
          border-top-right-radius: 10px;
        }
      }
    }
    tbody {
      tr {
        color: #fff;
        border-bottom: 2px solid var(--heading-clr);
        background: #3f5b8aad;
        border-radius: 10px;
        &:nth-child(2n) {
          background: #283a5b59;
          border-radius: 10px;
        }
        &:last-child {
          border: none;
        }
      }
      .title {
        &:hover {
          cursor: pointer;
          border-bottom: 2px solid var(--primary-clr);
          color: var(--primary-clr);
        }
      }
    }
  }
}

@media (min-width: 500px) {
  .usageHistoryPage {
    .head {
      flex-direction: row;
      justify-content: space-between;
      padding: 20px 80px;
      h1 {
        align-self: flex-end;
      }
    }
  }
}

@media (min-width: 800px) {
  .usageHistoryPage {
    padding: 30px;
    .table {
      width: 100%;
    }
  }
}
