.manageSubscriptionsPage {
  padding: 25px;

  height: 100%;
  .head {
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
    color: #fff;
    h2 {
      font-weight: 600;
    }
  }
  .subscriptionsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

@media (min-width: 1200px) {
  .manageSubscriptionsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    .head {
      width: 100%;
    }
    .subscriptionsContainer {
      max-width: 1500px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
