.searchPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 25px;
  input {
    padding: 10px 20px;
    border: none;
    width: 100%;
    max-width: 700px;
    text-align: center;
    &:focus {
      border-radius: 2px;
      outline: 1px solid #c3c7ca;
    }
  }
  .uploadeBtn {
    padding: 5px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 3px;
    color: #2a3842;
    border: 1px solid #c3c7ca;
    background: #fff;
    position: relative;
    img {
      width: 20px;
      height: fit-content;
    }
    p {
      font-weight: 500;
    }
    .fileUpload {
      outline: 2px solid red;
      width: 100%;
      height: 100%;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
