.upload-img {
  width: 100%;
  display: grid;
  gap: 5px;
  .upload-input {
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: relative;
    img {
      width: 100%;
      height: fit-content;
      // max-width: 150px;
    }
    .imgIcon {
      width: 150px;
    }
    input {
      cursor: pointer;
      opacity: 0;
      position: absolute;
      height: 100%;
      width: 100%;
    }
  }
}
