* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
a,
button,
p,
input {
  font-family: "Montserrat", sans-serif;
}

:root {
  --secondary-clr: #42ba96;
  --primary-clr: #335eea;

  --shadom: 0px 2px 20px #a6a6a640; /* just for copy var(--shadow) won't work*/
}

button {
  cursor: pointer;
}
input[type="file"] {
  cursor: pointer;
}

.__btn {
  padding: 5px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 3px;
  color: #2a3842;
  border: 1px solid #c3c7ca;
  background: #fff;
  position: relative;
  width: fit-content;
}
.__btn img {
  width: 20px;
  height: fit-content;
}

.__heading {
  /* color: #c3c7ca; */
  color: #2b354e;
  font-weight: 500;
  padding: 10px;
  border-bottom: 2px solid #c3c7ca;
}
