* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  /* background: #1b2841; */
  background: #f3f6fc;
  /* color: #fff; */
}

body,
a,
button,
p,
input {
  font-family: "DM Sans", sans-serif;
  /* font-family: "Montserrat", sans-serif; */
}

:root {
  --primary-clr: #335eea;
  --error-clr: #ff3d71;
  --info-clr: #fcbf49;
  --secondary-clr: #42ba96;
  --background-clr: #f3f6fc;
  --heading-clr: #0a0b33;
  --text-clr: #30364d;
  --shadom: 0px 2px 20px #a6a6a640; /* just for copy var(--shadow) won't work*/
  --color: #2a3842;
}

button {
  cursor: pointer;
}
input[type="file"] {
  cursor: pointer;
}

.__btn {
  padding: 5px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 3px;
  color: #2a3842;
  border: 1px solid #c3c7ca;
  background: #fff;
  position: relative;
  width: fit-content;
}
.__btn img {
  width: 20px;
  height: fit-content;
}

.__imgBtn {
  background: var(--primary-clr);
  border-radius: 50px;
  padding: 15px 25px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #2a3842;
  border: none;
  position: relative;
  color: #fff;
  width: fit-content;
  border: none;
}
.__imgBtn img {
  width: 20px;
  height: fit-content;
}
.__imgBtn p {
  font-weight: 500;
}
.__imgBtn .fileUpload {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.__imgBtn:hover {
  background: #547cff;
}

.__heading {
  /* color: #c3c7ca; */
  color: #2b354e;
  font-weight: 500;
  padding: 10px;
  border-bottom: 2px solid #c3c7ca;
}

.__sectionTitle {
  padding: 0 50px;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 700;
  color: #0a0b33;
}
.__postLoginTitle {
  padding: 0;
  text-align: left;
  color: #fff;
}
.__sectionTitle span {
  background-image: linear-gradient(120deg, #66d4f6, #4d92ff 39%, #bb65ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.__sectionSubHeading {
  color: #0a0b33;
  font-size: 1.8rem;
  font-weight: 600;
}

.__white {
  color: #fff;
}
.__text {
  font-size: 1.2rem;
  color: #30364d;
}

input[type="checkbox"] {
  cursor: pointer;
}

.__bottom-bar {
  background: var(--heading-clr);
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 10px 20px;
  color: #fff;
}
.__bottom-bar .__rowsCount {
  display: flex;
  gap: 20px;
}

.__bottom-bar .__pagination {
  display: flex;
  align-items: center;
  gap: 20px;
}
.__bottom-bar .__pagination .__controls {
  display: flex;
  align-items: center;
  gap: 10px;
}
.__bottom-bar .__pagination .__controls img {
  width: 20px;
  height: fit-content;
  cursor: pointer;
}

.__bottom-bar .__pagination .__controls img.__next {
  transform: rotate(180deg);
}

input[type="file"] {
  cursor: pointer;
}

.__loader_container {
  width: 100%;
  padding: 20px;
  height: fit-content;
  background: #ffffff69;
  /* position: absolute; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.__loader_container .__loader {
  width: 20px;
  aspect-ratio: 1/1;
  border: 2px solid var(--primary-clr);
  border-radius: 50px;
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
