.navItem {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid transparent;

  &:hover {
    background: #283a5b59;
    box-shadow: 0 8px 32px 0 #1f26875e;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    // border-bottom: 1px solid #ffffff2e;
  }
  .navIcon {
    height: 25px;
    width: fit-content;
  }
  .navItemDetails {
    display: grid;
    gap: 10px;
    .name {
      color: var(--primary-clr);
      font-weight: 600;
      text-transform: capitalize;
    }
    .info {
      text-transform: capitalize;
      // color: #506690;
      color: #fff;
    }
  }
}
