.planHead {
  text-transform: capitalize;
  h3 {
    font-size: 1.2rem;
  }
  p {
    color: #869ab8;
  }
}
.feature {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  img {
    width: 25px;
    height: fit-content;
  }
}

.btnOutlined {
  width: 100%;
  background: #fff;
  border-radius: 50px;
  border: 2px solid #42ba96;
  color: #42ba96;
  font-weight: 600;
  // font-size: 1.1rem;
  padding: 15px;
}
.btnFilled {
  width: 100%;
  background: #42ba96;
  border-radius: 50px;
  border: 2px solid #42ba96;
  color: #fff;
  font-weight: 600;
  // font-size: 1.1rem;
  padding: 15px;
}
